
<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Welcome to my first Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 29.01.2020, 14:11</p>
            <h2><a href="/">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam quo.</p>
        </div>

        <div>
            <p>publicado: 29.01.2020, 14:11</p>
            <h2><a href="/">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nam quo.</p>
        </div>

    </body>
</html>